.button {
  padding: 10px 20px;
  border-radius: 20px;
  border: 2px solid #555;
  font-size: 24px;
  font-weight: bold;
  background-color: #fff;
  color: #555;
  cursor: pointer;
  transition:
    background-color 0.2s ease,
    color 0.2s ease;

  &:hover {
    background-color: var(--yellow-color);
    color: #fff;
  }
}
