.card-game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-gap: 0.2%;
  justify-items: center;
}

@media (min-width: 768px) {
  .game-board {
    max-width: 900px;
  }
}

@media (min-width: 992px) {
  .game-board {
    max-width: 1200px;
  }
}

@media (max-width: 500px) {
  .game-board {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
  }
}
